* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.head {
  width: 100%;
  height: 50px;
  background: green;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0px;
  position: relative;
  position:fixed;
  top: 0px;
  z-index: 999;

}

.scl-logo {
  position: absolute;
  width: 5%;
  height: 100%;
  border-radius: 5px;
  left: 5%;
}
.menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
}

ul {
  list-style: none;
}
.list-item {
  display: inline-block;
  width: 100px;
  height: 35px;
  text-align: center;
  margin-left: 10px;
  margin-top: 8px;
  padding-top: 6px;
}

.list-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.list-item:hover {
  background: skyblue;
  border-radius: 20px 0px 20px 0px;
  cursor: pointer;
  .list-link {
    color: black;
  }
}
section .scl-pic-box {
  margin: 80px auto;
  width: 90%;
  height: 600px;
  border: 1px solid black;
  background: url("Image/scl-pic.png");
  background-size: cover;
  background-size: 100% 600px;

}

.scl-pic-box .welcome-box {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 256, 0.55);
}

.wel-name {
  padding-top: 50px;
  font-size: 50px;
  color: yellow;
  text-align: center;
}

.scl-name {
  font-size: 70px;
  color: white;
  text-align: center;
  font-family: serif;
}

.sologan-1 {
  font-size: 15px;
  color: #ccc;
  text-align: center;
  padding-top: 10px;
}

.sologan-2 {
  font-size: 25px;
  color: yellow;
  text-align: center;
  padding-top: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.apply-btn {
  width: 12%;
  height: 37px;
  background: yellow;
  border: none;
  text-align: center;
  margin: 45px 45%;
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
  padding: 5px 1px;
  cursor: pointer;
  text-decoration: none;
}

#About {
  width: 100%;
  height: 800px;
  padding-top: 50px;
}

.about-box {
  width: 90%;
  height:700px;
  background: rgb(154, 148, 148);
  margin: -40px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text {
  font-size: 35px;
  text-align: center;
}

.scl-about-pic {
  width: 45%;
  height: 80%;
  border-radius: 20px;
  box-shadow: 5px 5px 30px black;
  left: 55%;
}
.text-box {
  width: 45%;
  height: auto;
  margin-top: 3%;
}

.about-text-1 {
  font-size: 16.5px;
  line-height: 0.92;
  color: rgb(229, 229, 229);
  text-align: justify;
}

#Addmission {
  width: 100%;
  height: 900px;
  margin-top: 0px;
  padding-top: 20px;
}

.addmission-box {
  width: 90%;
  height: 720px;
  background: rgb(238, 223, 197);
  margin: 50px auto;
}

.addmission-name {
  font-size: 35px;
  text-align: center;
}

.addmission-text {
  text-align: center;
  padding-left: 17%;
  padding-right: 17%;
  font-size: 20px;
  color: #766e6e;
}

.addmi-form {
  width: 50%;
  height: 450px;
  background: #6d54a7;
  margin: 30px 25%;
  border-radius: 20px;
  font-size: 20px;
}

.std-name {
  padding-top: 3%;
  padding-left: 5%;
  color: #ccc;
}

.inp-std-name {
  width: 90%;
  height: 30px;
  margin-left: 5%;
  margin-top: 10px;
  border-radius: 30px;
  padding: 2% 4%;
  font-size: 17px;
  border: none;
}

.addr-name {
  padding-top: 2%;
  padding-left: 5%;
  color: #ccc;
}

.inp-addr-name {
  width: 90%;
  height: 30px;
  margin-left: 5%;
  margin-top: 10px;
  border-radius: 30px;
  padding: 2% 4%;
  font-size: 17px;
  border: none;
}

.cont-name {
  padding-top: 2%;
  padding-left: 5%;
  color: #ccc;
}

.inp-cont-name {
  width: 90%;
  height: 30px;
  margin-left: 5%;
  margin-top: 10px;
  border-radius: 30px;
  padding: 2% 4%;
  font-size: 17px;
  border: none;
}

.class-name {
  padding-top: 2%;
  padding-left: 5%;
  color: #ccc;
}

.class-select {
  width: 90%;
  height: 30px;
  margin-left: 5%;
  margin-top: 10px;
  border-radius: 30px;
  padding: 0% 4%;
  font-size: 17px;
  border: none;
}

.add-info-name {
  padding-top: 2%;
  padding-left: 5%;
  color: #ccc;
}

.add-info-inp {
  width: 90%;
  height: 60px;
  margin-left: 5%;
  margin-top: 10px;
  border-radius: 15px;
  padding: 1% 1.5%;
  font-size: 18px;
  border: none;
}

.submit {
  width: 10%;
  height: 35px;
  background: rgba(66, 64, 21, 0.662);
  border-radius: 15px;
  font-size: 18px;
  border: none;
  margin: 20px 45%;
  cursor: pointer;
}

#Facility {
  width: 100%;
  height: 1000px;
  padding-top: 80px;
  margin-top: -40px;
}
.facility-section {
  width: 90%;
  padding: 40px 60px;
  background: skyblue;
  margin: 0px auto;
}

.facility-section h2 {
  text-align: center;
  font-size: 36px;
  margin-top: -45px;
  margin-bottom: 40px;
}

.facility-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.facility-item:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.facility-item {
  background: #ffffff;
  width: 100%;
  height: 205px;
  border-radius: 20px;
  padding: 10px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 3px 10px 20px black;
  overflow: hidden;
  transition: 0.3s;
}

.facility-item i {
  font-size: 45px;
  padding-top: 13px;
  margin-bottom: 8px;
  flex-shrink: 0;
  cursor: pointer;
}

.facility-item h3 {
  font-size: 21px;
  color: blue;
  margin: 6px 0 0px 0;
  cursor: pointer;
}

.facility-item p {
  font-size: 13.5px;
  line-height: 1.2;
  color: #3d3d3d;
  padding: 0px 5px;
}
#Program {
  width: 100%;
  height: 750px;
  padding-top: 70px;
  margin-top: 50px;
}

.program-box {
  width: 90%;
  height: 620px;
  background: #b6deb2;
  margin: -40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.prog-name {
  font-size: 35px;
  text-align: center;
  color: black;
}
.PG,
.BL,
.ML {
  background: white;
  padding: 25px;
  width: 75%;
  height: 185px;
  position: relative;
  border-radius: 12px;
  transition: 0.3s;
  margin: 30% 12%;
  box-shadow: 8px 8px 15px #7a7878;
}
.PG:hover {
  transform: translateY(-6px);
}
.BL:hover {
  transform: translateY(-6px);
}
.ML:hover {
  transform: translateY(-6px);
}
.pg-name,
.bl-name,
.ml-name,
.sl-name,
.sci-name,
.man-name {
  text-align: center;
  font-size:21px;
  color: rgb(96, 96, 244);
}
.pg-text,
.bl-text,
.ml-text,
.sl-text,
.sci-text,
.man-text {
  text-align: center;
  font-size: 17px;
  padding-top: 13px;
  line-height: 1;
  color: #3e3434;
}
.SL,
.plus-Sci,
.plus-Man {
  background: white;
  padding: 25px;
  width: 75%;
  height: 185px;
  position: relative;
  border-radius: 12px;
  transition: 0.3s;
  margin: -42% 12%;
  box-shadow: 8px 8px 15px #7a7878;
}
.SL:hover {
  transform: translateY(-6px);
}
.plus-Man:hover {
  transform: translateY(-6px);
}
.plus-Sci:hover {
  transform: translateY(-6px);
}
#CONTACT {
  margin-top: 800px;
  width: 100%;
  height: 470px;
  padding-top: 50px;
}
#Contact {
  background: rgb(43, 39, 39);
  padding: 30px;
  font-family: Georgia, serif;
  width: 90%;
  margin: 0 auto;
}

.contact-name {
  text-align: center;
  font-size: 32px;
  padding-top: 00px;
  margin-top: -30px;
  margin-bottom: 25px;
  color: white;
}

.contact-box {
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.cont-detail {
}

.cont-info {
  margin-bottom: 10px;
  color: white;
}

.contact-item {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  align-items: center;
  color: white;
}

.contact-item i {
  font-size: 25px;
  min-width: 22px;
  color: white;
}

.cont-map {
  height: 300px;
}
.fb-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #1060c9; /* Facebook blue */
  font-size: 16px;
  font-weight: 500;
}
iframe {
  border-radius: 20px;
}

.fb-link i {
  font-size: 25px;
  color: rgb(80, 80, 222);
}

.fb-link span {
  font-size: 16px;
  line-height: 1;
  color: white;
}
.dev-name {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 22px;
}
hr {
  width: 100%;
  color: white;
  margin-top: 20px;
}
