* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
} 

.head{
  width: 100%;
  height: 50px;
  background: green;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.scl-logo{
  position: absolute;
  width: 5%;
  height: 100%;
  border-radius:5px;
  left: 5%;
}
.menu{
  display: flex;
  justify-content:space-around;
  width:100%;
  height: 50px;
}

ul{
  list-style: none;
}
.list-item{
  display: inline-block;
  width:100px;
  height: 35px;
  text-align: center;
  margin-left: 10px;
  margin-top: 8px;
  padding-top: 6px;
}

.list-link{
  color: white;
  text-decoration: none;
  font-size:20px;

}
.list-item:hover{
  background: skyblue;
  border-radius: 20px 0px 20px 0px;
  cursor: pointer;
  .list-link{
    color: black;
  }
}
section .scl-pic-box {
  margin: 40px auto;
  width: 90%;
  height: 500px;
  border: 1px solid black;
  background: url("Image/scl-pic.jpg");
  background-size: contain;
  background-size: 100% 500px;
 
}

.scl-pic-box .welcome-box {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 256, 0.59);
}

.wel-name {
  padding-top: 70px;
  font-size: 50px;
  color: yellow;
  text-align: center;
}

.scl-name {
  font-size: 70px;
  color: white;
  text-align: center;
  font-family: serif;
}

.sologan-1 {
  font-size: 15px;
  color: #ccc;
  text-align: center;
  padding-top: 10px;
}

.sologan-2 {
  font-size: 25px;
  color: yellow;
  text-align: center;
  padding-top: 10px;
}

.apply-btn {
  width: 12%;
  height: 37px;
  background: yellow;
  border: none;
  text-align: center;
  margin: 60px 45%;
  font-weight: bold;
  font-size: 15px;
  border-radius: 20px;
  padding: 5px 1px;
  cursor: pointer;
}

.About {
  width: 100%;
  height: 900px;
  padding-top: 70px;
}

.about-box {
  width: 90%;
  height: 650px;
  background: rgb(154, 148, 148);
  margin: 0 auto;
  overflow: hidden;
}

.about-box .about-text {
  font-size: 35px;
  text-align: center;
}

.scl-about-pic {
  width: 40%;
  height: 80%;
  margin: 5% 2%;
  border-radius: 20px;
  box-shadow: 5px 5px 30px black;
}

.about-text-1 {
  margin-top: -530px;
  font-size: 18px;
  padding-left: 46%;
  text-align: justify;
  margin-right: 2%;
  line-height: 1;
  color: rgb(229, 229, 229);
}

.about-text-2 {
  padding-left: 46%;
  font-size: 18px;
  text-align: justify;
  margin-right: 2%;
  line-height: 1;
  color: rgb(229, 229, 229);
}

.about-text-3 {
  font-size: 18px;
  padding-left: 46%;
  text-align: justify;
  margin-right: 2%;
  line-height: 1;
  color: rgb(229, 229, 229);
}

.Addmission {
  width: 100%;
  height: 900px;
  margin-top: -130px;
  padding-top: 20px;
}

.addmission-box {
  width: 90%;
  height: 720px;
  background: rgb(238, 223, 197);
  margin-top: 60px;
  margin-left: 70px;
}

.addmission-name {
  font-size: 35px;
  text-align: center;
}

.addmission-text {
  text-align: center;
  padding-left: 17%;
  padding-right: 17%;
  font-size: 20px;
  color: #766e6e;
}

.addmi-form {
  width: 50%;
  height: 450px;
  background: #6d54a7;
  margin: 30px 25%;
  border-radius: 20px;
  font-size: 20px;
}

.std-name {
  padding-top: 3%;
  padding-left: 5%;
  color: #ccc;
}

.inp-std-name {
  width: 90%;
  height: 30px;
  margin-left: 5%;
  margin-top: 10px;
  border-radius: 30px;
  padding: 2% 4%;
  font-size: 17px;
  border: none;
}

.addr-name {
  padding-top: 2%;
  padding-left: 5%;
  color: #ccc;
}

.inp-addr-name {
  width: 90%;
  height: 30px;
  margin-left: 5%;
  margin-top: 10px;
  border-radius: 30px;
  padding: 2% 4%;
  font-size: 17px;
  border: none;
}

.cont-name {
  padding-top: 2%;
  padding-left: 5%;
  color: #ccc;
}

.inp-cont-name {
  width: 90%;
  height: 30px;
  margin-left: 5%;
  margin-top: 10px;
  border-radius: 30px;
  padding: 2% 4%;
  font-size: 17px;
  border: none;
}

.class-name {
  padding-top: 2%;
  padding-left: 5%;
  color: #ccc;
}

.class-select {
  width: 90%;
  height: 30px;
  margin-left: 5%;
  margin-top: 10px;
  border-radius: 30px;
  padding: 0% 4%;
  font-size: 17px;
  border: none;
}

.add-info-name {
  padding-top: 2%;
  padding-left: 5%;
  color: #ccc;
}

.add-info-inp {
  width: 90%;
  height: 60px;
  margin-left: 5%;
  margin-top: 10px;
  border-radius: 15px;
  padding: 1% 1.5%;
  font-size: 18px;
  border: none;
}

.submit {
  width: 10%;
  height: 35px;
  background: rgba(66, 64, 21, 0.662);
  border-radius: 15px;
  font-size: 18px;
  border: none;
  margin: 20px 45%;
  cursor: pointer;
}

.Facility {
  width: 100%;
  height: 1100px;
  padding-top: 50px;
  margin-top: -50px;
}
.facility-name {
  padding-top: 40px;
}

.facility-box {
  width: 90%;
  height: 900px;
  margin: -40px auto;
  background: #b2e0ff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.facility-name {
  font-size: 35px;
  text-align: center;
}

.Boys-hostel {
  background: white;
  padding: 25px;
  width: 65%;
  height: 180px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: 30% 0% 30% 35%;
  box-shadow: 10px 10px 25px black;
}
.b-hostel-icon {
  position: absolute;
  font-size: 50px;
  padding: 3% 28%;
  cursor: pointer;
}

.b-hostel-text {
  position: absolute;
  font-size: 13px;
  color: #949393;
  text-align: justify;
  margin: 28% 10% 1% 1%;
  line-height: 1;
}
.b-hostel-name {
  position: absolute;
  margin: 18% 16%;
  font-size: 22px;
  color: rgb(96, 96, 244);
  cursor: pointer;
}

.Girls-hostel {
  background: white;
  padding: 25px;
  width: 65%;
  height: 180px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: 30% 16%;
  box-shadow: 10px 10px 25px black;
}

.g-hostel-icon {
  position: absolute;
  font-size: 50px;
  padding: 4% 28%;
  cursor: pointer;
}

.g-hostel-text {
  position: absolute;
  font-size: 13px;
  color: #949393;
  text-align: justify;
  margin: 35.5% 10% 1% 1%;
  line-height: 1;
}
.g-hostel-name {
  position: absolute;
  margin: 26% 16%;
  font-size: 22px;
  color: rgb(96, 96, 244);
  cursor: pointer;
}
.Transportation {
  background: white;
  padding: 25px;
  width: 65%;
  height: 180px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: 30% 0% 30% -3%;
  box-shadow: 10px 10px 25px black;
}
.transp-icon {
  position: absolute;
  font-size: 50px;
  padding: 4% 28%;
  cursor: pointer;
}

.transp-name {
  position: absolute;
  margin: 26% 14%;
  font-size: 22px;
  color: rgb(96, 96, 244);
  cursor: pointer;
}
.transp-text {
  position: absolute;
  font-size: 13px;
  color: #949393;
  text-align: justify;
  margin: 35.5% 10% 1% 1%;
  line-height: 1;
}
.Library {
  background: white;
  padding: 25px;
  width: 65%;
  height: 180px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: -15% 0% 30% 35%;
  box-shadow: 10px 10px 25px black;
}

.library-icon {
  position: absolute;
  font-size: 50px;
  padding: 4% 29%;
  cursor: pointer;
}

.library-name {
  position: absolute;
  margin: 26% 23%;
  font-size: 22px;
  color: rgb(96, 96, 244);
  cursor: pointer;
}
.library-text {
  position: absolute;
  font-size: 13px;
  color: #949393;
  text-align: justify;
  margin: 35.5% 10% 1% 1%;
  line-height: 1;
}
.Science-Lab {
  background: white;
  padding: 25px;
  width: 65%;
  height: 180px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: -15% 16%;
  box-shadow: 10px 10px 25px black;
}

.sci-lab-icon {
  position: absolute;
  font-size: 50px;
  padding: 4% 28%;
  cursor: pointer;
}

.sci-lab-name {
  position: absolute;
  margin: 26% 16%;
  font-size: 22px;
  color: rgb(96, 96, 244);
  cursor: pointer;
}
.sci-lab-text {
  position: absolute;
  font-size: 13px;
  color: #949393;
  text-align: justify;
  margin: 35.5% 10% 1% 1%;
  line-height: 1;
}

.Computer-Lab {
  background: white;
  padding: 25px;
  width: 65%;
  height: 180px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: -15% 0% 30% -3%;
  box-shadow: 10px 10px 25px black;
}

.com-lab-icon {
  position: absolute;
  font-size: 50px;
  padding: 4% 28%;
  cursor: pointer;
}

.com-lab-name {
  position: absolute;
  margin: 26% 15%;
  font-size: 22px;
  color: rgb(96, 96, 244);
  cursor: pointer;
}
.com-lab-text {
  position: absolute;
  font-size: 13px;
  color: #949393;
  text-align: justify;
  margin: 35.5% 10% 1% 1%;
  line-height: 1;
}

.Audio-Visual-Class {
  background: white;
  padding: 25px;
  width: 65%;
  height: 180px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: -15% 0% 30% 35%;
  box-shadow: 10px 10px 25px black;
}

.aud-vid-icon {
  position: absolute;
  font-size: 50px;
  padding: 4% 28%;
  cursor: pointer;
}

.aud-vid-name {
  position: absolute;
  margin: 26% 7%;
  font-size: 22px;
  color: rgb(96, 96, 244);
  cursor: pointer;
}
.aud-vid-text {
  position: absolute;
  font-size: 13px;
  color: #949393;
  text-align: justify;
  margin: 35.5% 10% 1% 1%;
  line-height: 1;
}
.Seminar-Hall {
  background: white;
  padding: 25px;
  width: 65%;
  height: 180px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: -15% 16%;
  box-shadow: 10px 10px 25px black;
}

.ECA {
  background: white;
  padding: 25px;
  width: 65%;
  height: 180px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: -15% 0% 30% -3%;
  box-shadow: 10px 10px 25px black;
}

.Program {
  width: 100%;
  height: 1000px;
  background: #a7ef53;
  
  padding-top: 100px;
  margin-top: -50px;
}

.program-box{
 width: 90%;
  height: 900px;
  background: #423f3e;
   margin: -35px auto;
     display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.prog-name{
     font-size: 35px;
  text-align: center;
}
.one{
  background: white;
  padding: 25px;
  width: 65%;
  height: 180px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: 30% 16%;
  box-shadow: 10px 10px 25px black;

}
.two{
  background: white;
  padding: 25px;
  width: 65%;
  height: 180px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin:-55% 16%;
  box-shadow: 10px 10px 25px black;

}
.three{
  background: white;
  padding: 25px;
  width: 65%;
  height: 180px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin:-35% 16%;
  box-shadow: 10px 10px 25px black;

}